.bgContainer {
    display: flex;
    align-items: center;
    height: 55vh;
    z-index: -1;
}

svg {
    margin: 0 auto;
    display: block;
    color: red;
    animation: pulse 5s infinite;
}

ion-content {
    --overflow: hidden;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

@keyframes pulse {
    0%   { 
        opacity: 0.4; 
        transform: scale(0.8);
    }
    50%  { 
        opacity: 1;
        transform: scale(1);
    }
    100% { 
        opacity: 0.4; 
        transform: scale(0.8);
    }
}