<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="bgContainer" (click)="simulateNFCScan()">
    <svg width="294px" height="198px" viewBox="0 0 294 198" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>vector-id</title>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Intro-Copy" transform="translate(-40.000000, -192.000000)">
          <g id="vector-id" transform="translate(40.000000, 192.000000)">
            <rect id="Rectangle" stroke="#979797" stroke-width="5" x="2.5" y="2.5" width="289" height="193" rx="25">
            </rect>
            <path
              d="M60.6300063,66.0006816 C73.7338908,66.0758118 82.857222,72.3622911 88,84.8601192 C86.5528249,89.565328 77.5438049,91.9449738 60.9729403,91.9990567 L60.5,92 L60.0270597,91.9990567 C43.4561951,91.9449738 34.4471751,89.565328 33,84.8601192 C38.142778,72.3622911 47.2661092,66.0758118 60.3699937,66.0006816 L60.6300063,66.0006816 Z M60.5,34 C68.5081289,34 75,40.4918711 75,48.5 C75,56.5081289 68.5081289,63 60.5,63 C52.4918711,63 46,56.5081289 46,48.5 C46,40.4918711 52.4918711,34 60.5,34 Z"
              id="Combined-Shape" fill="#979797"></path>
            <line x1="111" y1="152" x2="264.5" y2="151.5" id="Line-Copy" stroke="#979797" stroke-width="5"
              stroke-linecap="round"></line>
            <line x1="165" y1="168" x2="264.5" y2="167.5" id="Line-Copy-2" stroke="#979797" stroke-width="5"
              stroke-linecap="round"></line>
          </g>
        </g>
      </g>
    </svg>
  </div>
  <p>
    Hold your card close to the<br>
    screen to start
    <br><br>
    <a (click)="helpButtonClicked()">Need help?</a> <br><br>
    <!-- <a (click)="readNFC()">Dev - Read NFC</a> -->
  </p>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>