body {
    padding: 0;
    margin: 0;
}

div#full-size-container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

div#app {
    padding: 10vh 10vw;
}

ul#idList {
    padding: 0;
    margin: 0;
}

ul#idList li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#idList li:last-child{
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}